# Database
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=dev_db

# NextAuth v5
AUTH_URL=http://localhost:3000
AUTH_SECRET=generate-a-random-secret-here
NEXTAUTH_SECRET=generate-a-random-secret-here

# App
NEXT_PUBLIC_APP_NAME=WiserWits
